@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.eot") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Montserrat-ThinIt.woff2") format("woff2"), url("../fonts/Montserrat-ThinIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-ThinIt.woff") format("woff"), url("../fonts/Montserrat-ThinIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.eot") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Montserrat-LightIt.woff2") format("woff2"), url("../fonts/Montserrat-LightIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-LightIt.woff") format("woff"), url("../fonts/Montserrat-LightIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.eot") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Montserrat-RegularIt.woff2") format("woff2"), url("../fonts/Montserrat-RegularIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-RegularIt.woff") format("woff"), url("../fonts/Montserrat-RegularIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.eot") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Montserrat-MediumIt.woff2") format("woff2"), url("../fonts/Montserrat-MediumIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-MediumIt.woff") format("woff"), url("../fonts/Montserrat-MediumIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.eot") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Montserrat-SemiBoldIt.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldIt.woff") format("woff"), url("../fonts/Montserrat-SemiBoldIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Montserrat-BoldIt.woff2") format("woff2"), url("../fonts/Montserrat-BoldIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-BoldIt.woff") format("woff"), url("../fonts/Montserrat-BoldIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Montserrat-ExtraBoldIt.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBoldIt.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldIt.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.eot") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Montserrat-BlackIt.woff2") format("woff2"), url("../fonts/Montserrat-BlackIt.eot") format("embedded-opentype"), url("../fonts/Montserrat-BlackIt.woff") format("woff"), url("../fonts/Montserrat-BlackIt.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1;
}

button,
input,
textarea {
  outline: none !important;
  transition: all .3s;
  font-family: 'Montserrat', sans-serif;
}
button::placeholder,
input::placeholder,
textarea::placeholder {
  color: #a8a8a8;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important;
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #222;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222;
}

.transit {
  /* Safari */
  transition: all 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
  height: 100%;
}

svg {
  flex-shrink: 0;
}

svg,
path {
  transition: all .3s;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
  color: #1C1C1C;
}
body.fixed-body {
  overflow-y: hidden;
}
body.fixed-body .main__slider-pag {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
a:focus {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

i {
  line-height: 100%;
}

input[type="date"] {
  position: relative;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.94 12.04'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%236e6f6f;}%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M297.82,415.56h-1.09V415a.55.55,0,0,0-.55-.54.54.54,0,0,0-.54.54v.55h-3.29V415a.55.55,0,0,0-1.09,0v.55h-1.1a1.65,1.65,0,0,0-1.64,1.64v7.66a1.64,1.64,0,0,0,1.64,1.64h7.66a1.64,1.64,0,0,0,1.65-1.64V417.2A1.65,1.65,0,0,0,297.82,415.56Zm.55,9.3a.55.55,0,0,1-.55.55h-7.66a.55.55,0,0,1-.54-.55v-4.92h8.75Zm0-6h-8.75V417.2a.54.54,0,0,1,.54-.54h1.1v.54a.55.55,0,1,0,1.09,0v-.54h3.29v.54a.54.54,0,0,0,.54.55.55.55,0,0,0,.55-.55v-.54h1.09a.54.54,0,0,1,.55.54Z' transform='translate(-288.52 -414.47)'/%3E%3C/svg%3E");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 11px auto;
  padding-right: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  opacity: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #5e6162;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

input::placeholder {
  color: #808080;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0;
}

.btn-green {
  background: #40AA29;
  border-radius: 15px;
  height: 47px;
  padding: 0 26px;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}
.btn-green:hover {
  background: rgba(64, 170, 41, 0.9);
  color: #FFFFFF;
}

.breadcrumbs__title {
  font-size: 34px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}
.breadcrumbs__title-lowercase {
  text-transform: unset;
  font-size: 28px;
}
@media screen and (max-width: 370px) {
  .breadcrumbs__title {
    max-width: 230px;
  }
}
.breadcrumbs__wrap {
  margin-top: 20px;
  flex-wrap: wrap;
}
.breadcrumbs__wrap a:hover {
  color: #ffffff;
}
.breadcrumbs__item {
  font-size: 12px;
  line-height: 140%;
  color: #97ccf1;
  position: relative;
}
.breadcrumbs__item:not(:first-child) {
  margin-left: 15px;
  padding-left: 15px;
}
.breadcrumbs__item:not(:first-child):before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 2px;
  height: 12px;
  background-color: #3f8bc5;
  top: 2px;
  left: -1px;
}
.breadcrumbs__item:last-child {
  color: #fff;
}
.breadcrumbs__badges {
  margin-top: 7px;
  display: flex;
}
.breadcrumbs__badges ~ .breadcrumbs__wrap {
  margin-top: 15px;
}
@media screen and (max-width: 992px) {
  .breadcrumbs__badges ~ .breadcrumbs__wrap {
    margin-top: 12px;
  }
}
.breadcrumbs__badge {
  height: 30px;
  background-color: #2d2d2d;
  border-radius: 1px;
  padding: 0 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.breadcrumbs__badge:hover {
  color: #ffffff;
  background-color: #00447d;
}
@media screen and (max-width: 992px) {
  .breadcrumbs__badge {
    height: 21px;
    font-size: 10px;
    padding: 0 11px;
  }
}

@media screen and (max-width: 992px) {
  .breadcrumbs__title {
    font-size: 18px !important;
  }
  .breadcrumbs__wrap {
    margin-top: 10px;
  }
  .breadcrumbs__item {
    font-size: 8px;
    line-height: 13px;
  }
  .breadcrumbs__item:not(:first-child) {
    margin-left: 10px;
    padding-left: 10px;
  }
  .breadcrumbs__item:not(:first-child):before {
    top: 3px;
    width: 1px;
    height: 7px;
  }
}
.header-top {
  padding: 40px 0;
}
.header-top__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom {
  background: #ECF9FF;
}
.header-bottom__inner {
  display: flex;
  justify-content: space-between;
}
.header-bottom .container {
  display: block;
}
.header-bottom .container::before, .header-bottom .container::after {
  position: absolute;
}
.header__logo {
  width: 170px;
  display: block;
  flex-shrink: 0;
}
.header__logo img {
  width: 100%;
}
.header__links {
  display: flex;
  align-items: center;
}
.header__link {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #5C5C5C;
}
.header__link:not(:last-child) {
  margin-right: 80px;
}
@media screen and (max-width: 1200px) {
  .header__link:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 992px) {
  .header__link:not(:last-child) {
    margin-right: 0;
  }
}
.header__link img {
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .header__link {
    font-size: 12px;
  }
  .header__link img {
    margin-right: 11px;
    width: 13px;
  }
}
@media screen and (max-width: 768px) {
  .header__time {
    display: none;
  }
}
.header__phone:hover {
  color: #009BE3;
}
.header__burger {
  display: none;
}
.header__btn img {
  display: none;
}

.nav__item {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  height: 69px;
}
.nav__item:hover {
  color: #009BE3;
}
.nav__item:before {
  content: '';
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #009BE3;
}
.nav__item--active:before {
  opacity: 1;
}
.nav__item-wrap {
  display: flex;
  align-items: center;
}
.nav__item-hidden {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(236, 249, 255, 0.95);
  backdrop-filter: blur(25px);
  width: 210px;
  border-top: 2px solid #D6F2FF;
}
.nav__item-show {
  display: flex;
  cursor: pointer;
}
.nav__item-show:before {
  content: '';
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #009BE3;
}
.nav__item-show--active:before {
  opacity: 1;
}
.nav__item-show img {
  margin-left: 13px;
}
.nav__item-show--active ~ .nav__item-hidden {
  display: block;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 13px 26px;
  color: #1C1C1C;
}
.nav__link:hover {
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .header-top {
    padding: 20px 0 30px;
    position: relative;
    z-index: 11;
  }
  .header-top__inner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header-bottom {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    padding-top: 150px;
    overflow-y: auto;
    transition: all .3s;
  }
  .header-bottom__inner {
    display: block;
  }
  .header-bottom--active {
    left: 0;
  }
  .header__burger {
    display: flex;
    background: #009BE3;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    position: relative;
  }
  .header__burger span {
    width: 20.14px;
    height: 2.95px;
    background: #FFFFFF;
    border-radius: 7px;
    display: block;
    transition: all .3s;
  }
  .header__burger span:nth-child(1) {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__burger span:nth-child(3) {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__burger--active span:nth-child(1) {
    transform: translate(-50%, 6px) rotate(-45deg);
  }
  .header__burger--active span:nth-child(2) {
    transform: scale(0);
  }
  .header__burger--active span:nth-child(3) {
    transform: translate(-50%, -6px) rotate(45deg);
  }
  .header__links {
    width: 100%;
    order: -1;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .header__btn {
    position: fixed;
    bottom: 16px;
    left: 16px;
    background: #009BE3;
    width: 238px;
    height: 63px;
    padding: 0;
    border-radius: 300px;
  }
  .header__btn:hover {
    background: rgba(0, 155, 227, 0.9);
  }
  .header__btn img {
    display: unset;
    margin-right: 11px;
  }

  .nav__item {
    width: 100%;
    display: block;
    height: unset;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav__item:before {
    display: none;
  }
  .nav__item-show:before {
    display: none;
  }
  .nav__item-hidden {
    border: none;
    width: 100%;
    position: static;
    margin-top: 15px;
  }
  .nav__link {
    padding: 0 0 0 10px;
  }
  .nav__link:not(:last-child) {
    margin-bottom: 15px;
  }
}
.footer {
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  color: #5C5C5C;
  padding: 68px 0;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  width: 170px;
  display: block;
  flex-shrink: 0;
}
.footer__logo img {
  width: 100%;
}
.footer__privacy {
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
}
.footer__privacy:hover {
  color: #009BE3;
}
.footer__copy {
  font-weight: 500;
  font-size: 18px;
  color: #5C5C5C;
}
.footer__phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 115%;
}
.footer__phone-title {
  display: block;
}
.footer__phone-link {
  font-size: 31px;
  margin-top: 5px;
  display: block;
}
.footer__phone-link:hover {
  color: #009BE3;
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 48px 0;
    text-align: center;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__logo {
    margin: 0 auto;
    width: 226px;
  }
  .footer__privacy, .footer__copy {
    width: 100%;
    order: 3;
    margin-top: 32px;
  }
  .footer__phone {
    width: 100%;
    order: 2;
    margin-top: 32px;
  }
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1250px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}
