.card {
    padding-bottom: 70px;
    &__inner {
        display: flex;
    }
    &__title-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    &__span {
        font-size: 18px;
        line-height: 22px;
        color: #009BE3;
        display: block;
    }
    &__left {
        width: 335px;
        margin-right: 65px;
        flex-shrink: 0;
    }
    &__right {
        width: calc(100% - 400px);
        flex-shrink: 0;
    }
    &__title-bold {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #1C1C1C;
        margin-bottom: 10px;
    }
    &__title {
        font-size: 24px;
        line-height: 29px;
        color: #1C1C1C;
    }
    &__desc {
        margin-bottom: 80px;
    }
    &__text {
        font-size: 16px;
        line-height: 160%;
        color: #5C5C5C;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__prodoctorov {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__reviews {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 40px;
        &-desc {
            font-weight: bold;
            font-size: 16px;
            line-height: 148.2%;
            color: #009BE3;
            span {
                color: #5C5C5C;
                font-weight: normal;
                padding-left: 2px;
            }
        }
        &-link {
            margin-left: 30px;
            span {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-decoration-line: underline;
                color: #009BE3;
                margin-right: 10px;
            }
        }
    }
    &__description-text {
        font-weight: bold;
        font-size: 16px;
        line-height: 148.2%;
        color: #009BE3;
        span {
            color: #5C5C5C;
            font-weight: normal;
        }
    }
    &__reception-day {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__day-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 148.19%;
        color: #5C5C5C;
        display: block;
        flex-grow: 1;
        &:not(:last-child) {
            margin-right: 28px;
            padding-right: 28px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #009BE3;
            }
        }
    }
    &__day {
        font-weight: 500;
        font-size: 16px;
        line-height: 148.19%;
        color: #009BE3;
        display: block;
        &--active {
            color: #5C5C5C;
        }
    }
    &__time {
        font-weight: 500;
        font-size: 16px;
        line-height: 148.19%;
        color: #009BE3;
        display: block;
        &--active {
            color: #5C5C5C;
        }
    }
    &__reception-btn {
        height: 50px;
        width: 100%;
        border-radius: 0;
        font-size: 16px;
    }
}

.doctor-info {
    &__group {
        margin-top: 80px;
        &-show {
            display: flex;
            align-items: center;
            margin-bottom: 26px;
        }
        &-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            margin-right: 50px;
        }
        &-btn {
            font-size: 18px;
            line-height: 22px;
            &--active {
                .doctor-info__group-btn-hide {
                    display: unset;
                }
                .doctor-info__group-btn-show {
                    display: none;
                }
                svg {
                    transform: rotate(180deg);
                }
            }
            span {
                text-decoration-line: underline;
                margin-right: 15px;
            }
            &-hide {
                display: none;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 13px 0;
        border-bottom: 1px solid #B9B9B9;
        &-year {
            font-weight: 500;
            font-size: 16px;
            line-height: 148.19%;
            margin-right: 50px;
        }
        &-text {
            font-size: 16px;
            line-height: 160%;
            color: #5C5C5C;
        }
        &--hidden {
            display: none;
        }
        &--show {
            display: flex !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .card {
        &__prodoctorov {
            display: block;
        }
        &__description {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .card {
        padding-bottom: 45px;
        &__inner {
            display: block;
        }
        &__left {
            width: 450px;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__right {
            width: 100%;
            margin-top: 30px;
        }
        &__title-bold {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 12px;
        }
        &__title-desc {
            margin-bottom: 30px;
        }
        &__title {
            font-size: 18px;
            line-height: 22px;
        }
        &__span {
            font-size: 18px;
            line-height: 22px;
        }
        &__desc {
            margin-bottom: 30px;
        }
        &__text {
            font-size: 12px;
        }
        &__description {
            margin-bottom: 50px;
        }
        &__reviews {
            margin-bottom: 14px;
        }
        &__day-item:not(:last-child) {
            margin-right: 17px;
            padding-right: 17px;
        }
    }
    .doctor-info {
        &__group-show {
            display: block;
            margin-bottom: 17px;
        }
        &__group-btn {
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
            span {
                margin-right: 10px;
            }
        }
        &__item-year {
            font-size: 12px;
            margin-right: 57px;
        }
        &__item-text {
            font-size: 12px;
        }
        &__group {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 520px) {
    .card {
        &__left {
            width: 100%;
        }
    }
}