.footer {
    background-image: url(../img/footer-bg.png);
    background-size: cover;
    color: #5C5C5C;
    padding: 68px 0;
    margin-top: 70px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 170px;
        display: block;
        flex-shrink: 0;
        img {
            width: 100%;
        }
    }
    &__privacy {
        font-weight: 500;
        font-size: 18px;
        text-decoration-line: underline;
        &:hover {
            color: #009BE3;
        }
    }
    &__copy {
        font-weight: 500;
        font-size: 18px;
        color: #5C5C5C;
    }
    &__phone {
        font-weight: bold;
        font-size: 18px;
        line-height: 115%;
        &-title {
            display: block;
        }
        &-link {
            font-size: 31px;
            margin-top: 5px;
            display: block;
            &:hover {
                color: #009BE3;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        margin-top: 40px;
        padding: 48px 0;
        text-align: center;
        &__inner {
            flex-wrap: wrap;
        }
        &__logo {
            margin: 0 auto;
            width: 226px;
        }
        &__privacy,
        &__copy {
            width: 100%;
            order: 3;
            margin-top: 32px;
        }
        &__phone {
            width: 100%;
            order: 2;
            margin-top: 32px;
        }
    }
}