@import 'reset';
@import 'ux';
@import 'header';
@import 'index';
@import 'footer';
@import 'pages';
@import 'card';
@import 'services';
@import 'modals';
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    flex-shrink: 0;
    width: 52px;
    height: 52px;
    background: #009BE3;
    border-radius: 50%;
    &::after {
        display: none;
    }
    &:hover {
        background: rgba(#009BE3, 0.9);
    }
    @media screen and (max-width: 360px) {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        img {
            width: 15px;
        }
    }
}

@media screen and (min-width: 1250px) {
    .container {
        width: 1200px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }
}